
table {
    border: 1px solid #000000;
}
th {
    padding: 10px;
}

tr,td {
    padding: 10px;
}

button {
    margin-bottom: 10px;
    font-size: 20px;
}

.currency {
    display: flex;
    justify-content: center;
}

.container {
    padding: 30px;
}

.container div{
    margin-bottom: 10px;
}


.update {
    font-size: 16px;
}